.DS_Store
__pycache__/load10K.cpython-38.pyc
__pycache__/process10K.cpython-38.pyc
ProcessedFiles/.DS_Store
ProcessedFiles/COP-CONOCOPHILLIPS/.DS_Store
ProcessedFiles/CVX-CHEVRON-CORP/.DS_Store
ProcessedFiles/EOG-EOG-RESOURCES-INC/.DS_Store
ProcessedFiles/.DS_Store
